@import url("https://fonts.googleapis.com/css?family=Raleway:300");
body {font-family: 'Raleway', sans-serif;margin: 0px;}

:root {
  --blue: #0065FC;
  --claire: #DEEBFF;
  --gris: #F2F2F2;
}

a { 
  color: #000; 
}

li a {
  outline: none;
  text-decoration: none;
}  

li {
  list-style: none;
}

h4, p { 
  margin: 0;
}

header, section, footer { 
  max-width: 1800px;
  margin: 0 auto !important; 
  padding: 10px 35px;
}

@media (max-width: 600px) {
  section, header {
    padding: 10px;
  }
}

/* vvv nav vvv */

nav {
  display:flex;
  padding-top: 15px;
}

nav ul {
  margin:0;
  padding:0;
}

nav li{
  list-style:none;
}

.hebe, .acti, .inscri {
  padding-top: 20px;
}

.logo {
  width:auto;
  margin-right:auto;
  padding-top: 10px;
}

nav a {
  text-decoration:none;
  padding: 40px 30px;
}

nav a:hover {
  color: var(--blue);
  border-top: 3px solid var(--blue);
}  

.lemenu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.lemenu .acti a:hover {
  border-top: 3px solid var(--blue);
}

.lemenu .inscri a {
  color: var(--blue);
}

@media (max-width: 600px) {
  nav a {
     margin-top: 40px;
    padding: 40px 20px;
  }
  
 nav a:hover {
    border-top: 0 !important;
    border-bottom: 2px solid var(--blue);
}
  
  .inscri {
    order: -1;
  }
  
  .logo {
    order: -2;
  }
  
  .lemenu {
    padding: 10px;
  }
  
  .acti {
    padding-left: 20px;
  }
}

/* vvv filtres vvv */

.filtres, .bsearch {
  display: flex;
  margin-top: 15px;
}

.button {
  border: none;
  padding: 19px;
  background-color: var(--claire);
}

.button.map {
  border-radius: 16px 0 0 16px;
  padding: 18px;
  background-color: var(--gris);
}

.bsearch input[type="text" i] {
  padding: 7px 12px 14px 12px;
  font: 600 22px Raleway;
  color: #000;
  border: none;
  border-bottom: 2px solid var(--gris);
  border-top: 2px solid var(--gris);
}

.bsearch ::placeholder {
  color: #000;
  font-weight: 600;
}

input.rech, .button.rech {
  margin-left: -10px;
  margin-top: -4px;
  padding: 14px 14px 15px 14px;
}  

.bsearch input.ville {
  margin-top: 4px;
  margin-left: -5px;
}  

.button.rech {
  background-color: var(--blue);
  color: #fff;
  border-radius: 0 16px 16px 0;
  font-size: 18px;
}

.filtres .letitre {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 20px;
}

.filtres .letitre b {
font-size: 18px;
}

.filtres .button {
  border: none;
  padding: 15px;
  background-color: var(--claire);
}

.filtres .fas {
  color: var(--blue);
}

.fa-search {
  color: #fff;
  display: none;
 }

.button.dola {
  border-radius: 50px;
  width: 45px;
}

.button.child {
  border-radius: 50px;
  width: 45px;
}

.petitsb {
  border: 2px solid var(--gris);
  padding-right: 15px;
  border-radius: 50px;
  margin: 10px;
}

.petitsb:hover {
  box-shadow: 0 7px 15px 1px#D3D3D3;
  cursor: pointer;
}

button {
  cursor: pointer;
}

.petitsb b {
  padding-left: 5px;
  font-size: 18px;
}

.petitsb.dog {
  padding-right: 15px;
  border-radius: 50px;
  margin: 10px;
}

.plus {
  display: flex;
  margin-bottom: 20px;
}

.plus .button {
  border: 2px solid var(--gris);
  border-radius: 50px;
  padding: 6px;
  width: 30px;
  background-color: #fff;
  margin-right: 20px;
}

.plus .fas {
  color: #0065fc;
}

.plus p {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 600px) {
  .filtres {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  
  .filtres .letitre {
    padding: 10px 100px 10px 0;
  }
  
  .petitsb, .petitsb.dog {
  margin: 2px;
  }
  
  .petitsb b {
    margin: 10px 2px;
    font-size: 14px !important;
  }
  
  .rech p {
    display: none;
  }
  
  .fa-search {
  display: inline;
 }
  
 .filtres .button {
  height: 100%;
}
  
  .button.rech {
  border-radius: 16px;
}
  
  .bsearch input[type="text" i] {
  font: 600 18px Raleway;
  width: 150px;
  }
  
  .button.rech, .filtres .letitre b {
  font-size: 14px;
  }
  
  .button.map {
    padding: 14px 16px 16px 16px;
  }
  
  .plus .button {
    width: 50px;
  }
  .plus {
  margin-top: 20px;
  }
}

/* vvv section parent main side vvv */

section.parent {
  display: flex;
}

.parent h2, .parent h3 { 
  width: 100%;
  padding-left: 25px;
}

.main {
  display: flex;
  flex-wrap: wrap;
  flex: 3;
  justify-content: space-around;
  flex-direction: row;
  padding: 20px;
  margin-right: 35px;
}

.sidebar {
  display: flex;
  flex-direction: column;
  flex: 1 30px;
  padding: 20px;
}

@media (max-width: 600px) {
  .parent {
    display: flex;
    flex-direction: column-reverse;
    padding: 0px;
  align-items: center;
  justify-content: center;
  }
  
  .main {
    flex-direction: column;
    padding: 0;
    /*margin-right: 0;*/
  align-items: center;
  justify-content: center;
  }
  
  .sidebar {
  align-items: center
  }
}

figure:hover {
  cursor: pointer;
}

.main figure {
  display: flex;
  flex-flow: column;
  flex: 1 0 220px;
  padding: 5px;
  margin: 15px;
  background-color: #fff;
  border-radius: 18px;
  box-shadow: 0 7px 15px 1px#D3D3D3;
}

.main figcaption {
  padding-left: 10px;
  padding-top: 5px;
}

.sidebar figure {
  display: flex;
  flex-flow: row;
  flex: 0 0 80px;
  padding: 5px;
  margin: 16px;
  background-color: #fff;
  border-radius: 18px;
  box-shadow: 0 7px 15px 1px#D3D3D3;
}

.sidebar figure p {
   padding-top: 4px;
  padding-bottom: 4px;
}

.main figure img {
  object-fit: cover;
  position: relative;
  overflow: hidden;
  height: 110px;
  border-radius: 16px 16px 0px 0px;
}

.sidebar figure img {
  object-fit: cover;
  overflow: hidden;
  flex: 2;
  height: 120px;
  border-radius: 16px 0px 0px 16px;
}

.sidebar figcaption {
  display: flex;
  flex-flow: column wrap;
  flex: 3;
  background-color: #fff;
  color: #222;
  padding: 10px 10px 0 10px;
}

.grid-area {
  background-color: var(--gris);
  border-radius: 18px;
}

.sidebar .lentete {
  display: flex;
}

.sidebar .lentete i {
  padding-right: 15px;
  margin-top: 1.3em;
}

@media (max-width: 600px) {
  main.grid-area {
    background-color: #fff;
    border-radius: 0;
    border: 0;
    border-radius: 0;
  }
  
  .main figure {
    flex: 0;
    margin: 10px;
  }
  
  .sidebar figcaption {
  flex: 2;
  min-height: 50px;
    margin: 10px;
  }
  
  .sidebar figure img {
    flex: 1;
  }
  
    
}

.fa-star {
  color: var(--blue);
}

.fas.grey {
  color: var(--gris);
}

.sidebar .etoiles {  
  display: flex;
  margin-top: auto; 
}

.sidebar p {
  flex-grow: 1;
}

img {
  height: auto;
  width: 100%;
  max-width: 100%;
  vertical-align: middle;
}

@media (max-width: 600px) {
  .sidebar .etoiles {  
    display: flex;
    height: 20px;
  }
}


/* vvv activites vvv */

 section.marseille {
   padding-top: 20px;
  padding-bottom: 0; 
}

.activites {
  margin: 20px;
}

.m-container {
  display: flex;
  flex-flow: column wrap;
  align-content: space-between;
  height: 500px;
  border-radius: 3px;
}

.m-container .m-item {
  width: 22%;
  margin-bottom: 2%;
  border-radius: 16px;
  box-shadow: 0 7px 15px 1px#D3D3D3;
  box-sizing: border-box;
}

.m-container figure {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

.m-container img {
  object-fit: cover;
  border-radius: 16px 16px 0px 0px;
  object-position: top;
}

.m-container .m-item.it2 img {
  object-position: 50% 50%;
}

.m-container .it1 img, .m-container .it4 img {
  height: 405px;
}

.m-container .it2 img, .m-container .it6 img {
  height: 190px;
}

.m-container .it3 img, .m-container .it5 img {
  height: 150px;
}

.m-container figcaption {
  background-color: #fff;
  color: #222;
  border-radius: 0 0 16px 16px;
  padding: 11px;
}

@media (max-width: 600px) {
  .m-container {
    display: flex;
  flex-flow: row wrap;
  padding: 5px;
  margin: 10px;
  align-content: space-between;
  height: 2100px;
  }
  
  .m-container .m-item {
    width: 100%;
    margin: 10px;
   }
  
  section.marseille {
    /*margin: 10px 20px;*/
    margin-left: auto;
  margin-right: auto;
  }
  
  .m-container figure {
    margin: 10px;
  }
}

@media (min-width: 1880px) {
   height: 1800px;
}

/* vvv footer vvv */

footer {
  display: flex;
  background-color: var(--gris);
}

footer .col {
  display: flex;
  flex-basis: calc(33.333% - 20px);
}

footer ul {
  display: flex;
  flex-direction: column;
  padding-inline-start: 0px;
  padding-bottom: 25px;
}

.footer li h4 {
  padding-bottom: 8px;
}

footer li {
  padding-top: 5px;
  padding-bottom: 5px;
}

@media (max-width: 600px) {
  footer {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}
